*{
    
    background-color:rgb(34, 40, 49);
    color: rgb(8, 217, 214);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;

}

h1{
    text-align: center;
}

.box{
    display: flex;
  justify-content: center;
  align-items: center;
}
.button{
    margin-left: 1030px;
    margin-top: -40px;
 
}